<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>员工登录页面</title>
    <link rel="canonical" href="https://v4.bootcss.com/docs/examples/sign-in/">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="text-center">

<form class="form-signin" action="/employee/login" method="post">
    <img src="http://web-txpc.oss-cn-shanghai.aliyuncs.com/movie/20220318131217_207.png" class="mb-4"  width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">请登录</h1>

    <p th:text="${msg}" style="color: red" th:if="${#strings.isEmpty(msg)}"></p>
    <input type="text" name="username" class="form-control" placeholder="请输入账号" required autofocus>
    <input type="password" name="password" class="form-control" placeholder="请输入密码" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
</form>
</body>
</html>