<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

<!--bootstrap实现弹出模态框-->
<button class="btn btn-default" data-target="#myModal" data-toggle="modal">
    点击弹出模态框
</button>
<!--fade 淡入淡出-->
<div class="modal fade"  id="myModal" aria-labelledby="myModallabel" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="myModallabel">认证信息</h5>
            </div>
            <form id="formData" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-lg-2">用户名：</label>
                        <div class="col-lg-9">
                            <input type="text" value="" name="username" placeholder="username" class="form-control"></br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">密码：</label>
                        <div class="col-lg-9">
                            <input type="text" placeholder="password" value="" name="password" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">close</button>
                    <button class="btn btn-success" type="button" onclick="">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>